*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.header{
    background-color: rgb(6, 57, 70);
    padding: 50px;
    text-align: center;
    color: honeydew;
}

h1{
    font-size: 40px;
}

nav{
    background-color: rgb(3, 12, 14);
    overflow: hidden;
    display: flex;
}

nav a{
    padding: 20px;
    display: block;
    text-decoration: none;
    float: left;
    color: lightcyan;
}

nav a:hover{
    background-color: lightcyan;
    color: black;
}

.header header a{
    text-decoration: none;
    color: white;
}

.header header a:hover{
    color: brown;
}

.contact{
    margin-left: auto;
}

hr{
    border: 2px solid black;
}

main{
    padding: 30px;
    display:flex;
    flex-direction: column;
}

.division{
    margin: 20px;
}

.division header{
    background-color: rgb(37, 73, 37);
    color: olive;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.container{
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin: 10%;
    border-radius: 15px;
}

.out div{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.in div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea{
    width:80%;
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left:20%;
    margin-right:20%;
    border:none;
    margin: 20px;
}

input[type="radio"]{
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left:10%;
}

input[type="submit"]{
    background-color: lightseagreen;
    color: mintcream;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-left:30%;
    margin-right:30%;
}

input[type="submit"]:hover{
    background-color: mintcream;
    color: lightseagreen;
}

.parent{
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 41, 41);
}

.child{
    display: flex;
    background-color: rgb(39, 41, 41);
    padding: 40px;
}

.child p{
    color: cadetblue;
}

#fin{ 
    display: flex;
    margin-left: auto;
    color: darkcyan;
    padding-right: 50px;
    overflow: hidden;
    flex-direction: column;
}

h3, img{
    margin-bottom: 20px;
    margin-right: 20px;
}

footer a{
    background-color: rgb(5, 4, 4);
    padding: 40px;
    text-decoration-line: none;
    color: rgb(243, 102, 8);
    text-align: center;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.2;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #ec1708bb;
  }

@media screen and (max-width:1200px) {

    #ins{
        flex-direction: column;
        padding: 20px;
        flex-wrap: nowrap;
        margin: 50px;
    }
    
}

@media screen and (max-width:930px){

    nav{
        flex-direction: column;
        text-align:center;
    }
    .contact{
        margin-left: 0;
    }
}

@media screen and (max-width:700px) {
    .in div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
}

@media screen and (max-width:500px) {

    .child{
        flex-direction: column;
        margin-right: auto;
    }

    #fin h3{
        margin-top: 50px;
    }
    
}
