*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.header{
    background-color: rgb(6, 57, 70);
    padding: 50px;
    text-align: center;
    color: honeydew;
}

h1{
    font-size: 40px;
}

nav{
    background-color: rgb(3, 12, 14);
    overflow: hidden;
    display: flex;
}

nav a{
    padding: 20px;
    display: block;
    text-decoration: none;
    float: left;
    color: lightcyan;
}

nav a:hover{
    background-color: lightcyan;
    color: black;
}

.contact{
    margin-left: auto;
}

hr{
    border: 2px solid black;
}

main{
    padding: 30px;
    display:flex;
    flex-direction: column;
}

.division header{
    background-color: rgb(37, 73, 37);
    color: olive;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.container{
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}

.inside h2 span{
    font-size: 25px;
    background-color: darkgoldenrod;
    color: black;
    padding: 20px 55px;
    text-align: center;
    border-radius: 20px;
}

.inside{
    display: flex;
    flex-direction: column;
}

span { 
    display: flex; 
    justify-content: center;
}

h2{
    padding: 20px;
}
  
.carousel-cell {
    width: 66%;
    margin-right: 10px;
    border-radius: 5px;
}
  
  /* cell number */
/* .carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
} */

.in{
    display: flex;
    overflow: hidden;
    justify-content: center
}



.parent{
    display: flex;
    flex-direction: column;
}

.child{
    display: flex;
    background-color: rgb(39, 41, 41);
    padding: 40px;
}

.child p{
    color: cadetblue;
}

#fin{ 
    display: flex;
    margin-left: auto;
    color: darkcyan;
    padding-right: 50px;
    overflow: hidden;
    flex-direction: column;
}

h3, img{
    margin-bottom: 20px;
    margin-right: 20px;
}

footer a{
    background-color: rgb(5, 4, 4);
    padding: 40px;
    text-decoration-line: none;
    color: cornflowerblue;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.2;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #ec1708bb;
  }

@media screen and (max-width:930px){

    nav{
        flex-direction: column;
        text-align:center;
    }
    .contact{
        margin-left: 0;
    }
}

@media screen and (max-width:500px) {

    .child{
        flex-direction: column;
        margin-right: auto;
    }

    #fin h3{
        margin-top: 50px;
    }
    
}
